
{% extends 'layout.html' %}


{% block title %}

Expectativas de Vida

{% endblock %}


{% block content %}
<h1>Minhas Expectativas de Vida</h1>

<p>
    Como estudante de Tecnologia da Informação, minhas expectativas de vida estão diretamente ligadas à evolução constante e ao aprendizado. No âmbito profissional, meu objetivo é absorver o máximo de conhecimento prático durante as aulas, dominar o desenvolvimento com Python e Flask, e conquistar uma oportunidade no mercado de trabalho para aplicar esses conceitos na resolução de problemas reais.
</p>

<p>
    No âmbito pessoal, busco manter o equilíbrio entre os estudos e a vida cotidiana, cultivando bons hábitos, mantendo a curiosidade aguçada para as novidades do mundo tecnológico e evoluindo um passo de cada vez para construir uma carreira sólida e promissora.
</p>
{% endblock %}